<div class="jumbotron text-center">
    <h1>{{ title }}</h1>
</div>

<main>
    <div class="container">
        <div *ngIf='mensagem'>
            <app-mensagem tipo='success'>{{mensagem}}</app-mensagem>
        </div>
        <div class="nav">
            <a [routerLink]="['']" class="btn btn-primary mb-5">Listagem</a>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form [formGroup]="formulario" (ngSubmit)="salvar()">
                    <div class="form-group">
                        <label for="">Titulo</label>
                        <input type="text" class="form-control"
                            name="titulo" formControlName="titulo" required>
                        <div *ngIf="titulo.errors?.required" class="alert alert-danger mt-2">
                            Por favor, insira um título.
                        </div>
                        <div *ngIf="titulo.errors?.minlength" class="alert alert-danger mt-2">
                            Título muito pequeno.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">url</label>
                        <input required type="text" class="form-control" formControlName='url' name="url">
                    </div>
                    <div class="form-group">
                        <label for="">Descricão</label>
                        <textarea class="form-control" formControlName="descricao" name="descricao"></textarea>
                    </div>
                    <div class="form-group">
                        <button [disabled]="formulario.invalid" type="submit" class="btn-success btn">Salvar
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <aside>
                    <h3>Preview</h3>
                    <app-painel [titulo]="foto.titulo">
                        <app-foto [url]="foto.url" [descricao]="foto.titulo"></app-foto>
                    </app-painel>
                </aside>
            </div>
        </div>
    </div>
</main>